
<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Text:</b>
  <%= @post.text %>
</p>

<p>
 

<div class="col-md-offset-1 col-md-6" >
  <div class="row">
    <div class="col-md-offset-1 col-md-11">

        <div class="panel-heading panel-top-offset"> <%= @post.title %> <span class="pull-right">Created <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.email %></span>
        <div class="panel-body"><p><%= @post.text %></p>
        
        </div>

       

    </div>
  </div>
</div>



<div class="comment-content">
<div class= "comment-content">
    <div class="col-md-10">
     <h2>Comments</h2>     
      <% if @post.comments.any?%>
          <div id="comments">
            <%= render @comments %> 
            <div id="comment-append"></div>
          </div>       
      <% else %>
        <h3>There is no any comment.</h3>
      <% end %>
    </div>
</div>
 
  

  <%= simple_form_for [@post, @comment], remote: true do |f| %>
      <div class="form-group">
        <%= f.input :body, input_html: { :class => "form-control" }, :style => "background-color: transparent" %>
      </div>
      <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
    <% end %>
  
  <br />
</div>

<%= link_to 'Edit Post', edit_post_path(@post) %> 
<%= link_to 'Back to Posts', posts_path %> 