
<p class="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-4">
      <h2><%= @post.title %></h2>
      <p><%= @post.text %></p>
            <em>---- by 
                <% if user_session.nil? %>
                  <%= "********" %> 
                  <%= link_to "(Sign in to see)", signin_path %>
                  Created <%= time_ago_in_words(@post.created_at) %> ago
                <% else %>
                 
                  Created <%= time_ago_in_words(@post.created_at) %> ago by <%= "#{@post.user.email}" %>
                <% end %>
                <% if current_user == @post.user %>
                    <%= link_to 'Edit Post', edit_post_path(@post) %> 
                <% end %>
                <%= link_to 'Back to Posts', posts_path %> 
            </em>
    </div>
</div>



<div class="comment-content">
<div class= "comment-content">
    <div class="col-md-10">
     <h2>Comments</h2>     
      <% if @post.comments.any?%>
          <div id="comments">
            <%= render @comments %> 
            <div id="comment-append"></div>
          </div>       
      <% else %>
        <h3>There is no any comment.</h3>
      <% end %>
    </div>
</div>
 
  

  <%= simple_form_for [@post, @comment], remote: true do |f| %>
      <div class="form-group">
        <%= f.input :body, input_html: { :class => "form-control" }, :style => "background-color: transparent" %>
      </div>
      <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
    <% end %>
  
  <br />
</div>

